@import '../colors.scss';

.main-page {
  height: 100vh;
  width: 100vw;
}

.grass-img {
  width: 100vw;
  height: 206px;
}

//-------------main view css
.home-view {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 2%;
}

.home-view h3 {
  color: $darkBlue;
}

.dog-img {
  height: 200px;
  width: 200px;
  margin-top: 30px;
}

.page-btns {
  background-color: $lightWhite;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.answr-btn {
  margin: 5px;
}

.page-btns:hover {
  background: $lightBlue;
  cursor: pointer;
  transform: scale(1.1);
}

.next-btn {
  margin: 10px
}

.home-view div {
  text-align: -webkit-center;
}



